body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
h1 {

}

h1::after{
  content: "";
  position: absolute;
  left: -10%;
  top: 0;
  width: 20px;
  height: 100%;
  background-color: #f8f7f7;
  transform: rotate(-20deg);
  animation-name: move;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes move {
  from, to {
    left: -10%;
  }

  50%,99% {
    left: 110%;
  }
}
